.home {
  display: flex;
}
.productContainer {
  display: flex;
  width: 75%;
  padding: 20px;
  margin-left: 170px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products {
  width: 30%;
  height: 70vh;
  margin-left: 40px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartItemImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}
.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: -250px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}
.product1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar1 {
  margin-left: -100px;
}
.form {
  display: grid;
  width: 20%;
  margin-left: 40%;
  margin-top: 10%;
}
.form-title {
  text-align: center;
}
.Signup-Form {
  width: 30%;
  border-radius: 20px;
  margin: auto;
  background-color: #343a40;
  box-sizing: border-box;
  padding: 40px;
  color: white;
  margin-top: 100px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  color: rgb(248, 243, 243);
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}

.but {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 1s;
  border-radius: 15px;
}

.error {
  color: red;
}
